*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    background: #151515;
    text-align: center;
}
h1,h2 {
    color: white;
}
/* бошка */
.alert{
    color: white;
    background: #00000087;
    padding: 2px;
}
header{
    background: linear-gradient(45deg, #ff5574, #7b2bff);
}
header h1, header h2 {
    text-align: center;
    padding: 30px;
    color: #fff;
}
/* баланс */
.balance {
    padding: 5px;
    color: white;
    padding-left: 20px;
    position: sticky;
    background: linear-gradient(45deg, #1b1b1b, #373737);
    top: 0px;
    width: 100vw;
    text-align: left;
}
nav img {
    width: 25px;
    height: 25px;
}
nav {
    display: inline-flex;
}
/* магазин */
#box{
    background: #2b2b2b;
    text-align: center;
    color: white;
    width: 100%;
}
.shop button, .upgrade button, .clicker button {
    border: 0;
    color: white;
    font-size: 15px;
    background: linear-gradient(45deg, #703d92, #92314e);
    width: 80%;
    height: 30px;
    margin-bottom: 2px;
}
/* кнопка */
#clickarea{
    width: 100vw;
    height: 100vw;
    max-height: 500px;
}
/* трейд */
#tradebutton {
    border: 0;
    color: white;
    font-size: 15px;
    background: linear-gradient(45deg, #703d92, #92314e);
    padding: 2px;
}
#cupon{
    width: 100vw;
    height: 100%;
}